[Unit]
Description=mystrom switch backend
After=network.target

[Service]
User=pi
WorkingDirectory=__BASEDIR__
ExecStart=__BASEDIR__/venv/bin/gunicorn -b 0.0.0.0:5000 -w 4 hello:app
Restart=always

[Install]
WantedBy=multi-user.target
